extends layout

block content
	.container.commonPanel
		.row
			.col-md-8.carouselpanel
				#carousel-aboutus-header.carousel.slide(data-ride="carousel")
					ol.carousel-indicators
						li.active(data-target="#carousel-aboutus-header", data-slide-to="0")
						li(data-target="#carousel-aboutus-header", data-slide-to="1")
						li(data-target="#carousel-aboutus-header", data-slide-to="2")
						li(data-target="#carousel-aboutus-header", data-slide-to="3")
						li(data-target="#carousel-aboutus-header", data-slide-to="4")
					.carousel-inner(role="listbox").carousel320
			.col-md-4.sub.semiBlackTransparent
				div.insidesvg.rowSVG
		.row
			.col-md-12.bannerAboutUs
				p What  passion can do . . .
		.row
			.col-12.textAboutUs
				p Drom is inspired by our love of cycling, nature and design. We always use the best materials and employ the most advanced technology and engineering practices available. Quality control and functionality is prioritized to achieve perfection in every component. Everything is produced locally to the highest European standards of ethics and ecology. We don't agree with meaningless transportation costs from Asia and low-wage labor in poor conditions. Every material we use is ISO certified and every piece of waste material from our production is carefully recycled. Our product line is also 100% recyclable as is our packaging.
				p The Drom team is comprised of inspired cyclists with different styles and skills. Our knowledge and shared experience is welded together in the hear of Drom, driving us to produce the best components possible.
		.row
			.col-12.footerAboutUs
				div.dromicon
				p DROM Ride | Bike Components Quality Lifestyle
		.row.complexFooter
			.row
				.col-md-3.sickabox.largecol
					div.newsletter
						p NEWSLETTER&nbsp;
							span.goldbox.box
								| BOX
				.col-md-3.sickabox
					div
						p SHARE&nbsp;
							span.goldbox.withus
								| WITH US
				.col-md-3.sickabox
					div
						p HOW&nbsp;
							span.goldbox.wedoit
								| WE DO IT
				.col-md-3.sickabox
					div
						p WHO&nbsp;
							span.goldbox.weare
								| WE ARE
			.row
				.col-md-2.futurabox.largecol
					form(action='/signup',method='post').signupbox
						div(data-role='fieldcontain')
							fieldset(data-role='controlgroup')
								input(id='email',type='text',value='',placeholder='EMAIL SIGN UP',name='email').emailfieldbox
								span(data-role='fieldcontain')
									input(type='submit',value='GO',data-transition='fade', data-theme='c').gobutton  
				.col-md-2.futurabox.iconbox
					div.ico.twit.topleft
					div.ico.fb.topright
					div.ico.insta.bottomleft
					div.ico.tumb.bottomright
				.col-md-2.futurabox
					p CONTACT US
					p RIDERS SERVICE
					p WARRANTY
					p PRIVACY POLICY
					p RETURN POLICY
				.col-md-2.futurabox
					p DRÖM
					p 113 st,
					p Dragalevtzi district,
					p Municipality of Vitosha
					p Sofia, Bulgaria