extends layout

block content
	.container.commonPanel
		.row
			.col-md-8.sub.slideshow
			.col-md-4.sub.insidesvg.rowSVG
		.row
			.col-md-12.bannerAboutUs
				p ABOUT US . . .
		.row
			.col-12.textAboutUs
				p Drom is inspired by our love of cycling, nature and design. We always use the best materials and employ the most advanced technology and engineering practices available. Quality control and functionality is prioritized to achieve perfection in every component. Everything is produced locally to the highest European standards of ethics and ecology. We don't agree with meaningless transportation costs from Asia and low-wage labor in poor conditions. Every material we use is ISO certified and every piece of waste material from our production is carefully recycled. Our product line is also 100% recyclable as is our packaging.
				p The Drom team is comprised of inspired cyclists with different styles and skills. Our knowledge and shared experience is welded together in the hear of Drom, driving us to produce the best components possible.
		.row
			.col-12.footerAboutUs
				div.dromicon
				p DROM Ride | Bike Components Quality Lifestyle
		.row.complexFooter