extends layout

block content
	.container.commonPanel
		.row
			.col-md-8.carouselpanel
				#carousel-aboutus-header.carousel.slide(data-ride="carousel")
					ol.carousel-indicators
						li.active(data-target="#carousel-aboutus-header", data-slide-to="0")
						li(data-target="#carousel-aboutus-header", data-slide-to="1")
						li(data-target="#carousel-aboutus-header", data-slide-to="2")
						li(data-target="#carousel-aboutus-header", data-slide-to="3")
						li(data-target="#carousel-aboutus-header", data-slide-to="4")
					.carousel-inner(role="listbox").carousel320
			.col-md-4.sub.semiBlackTransparent.hidden-xs.hidden-sm
				div.insidesvg.rowSVG
		.row
			.col-md-12.bannerAboutUs
				p What  passion can do . . .
		.row
			.col-12.textAboutUs
				p Dröm is inspired by our love of cycling, nature and design. We always use the best materials and employ the most advanced technology and engineering practices available. Quality control and functionality is prioritized to achieve perfection in every component. Everything is produced locally to the highest European standards of ethics and ecology. We don't agree with meaningless transportation costs from Asia and low-wage labor in poor conditions. Every material we use is ISO certified and every piece of waste material from our production is carefully recycled. Our product line is also 100% recyclable as is our packaging.
				p The Dröm team is comprised of inspired cyclists with different styles and skills. Our knowledge and shared experience is welded together in the heart of Dröm, driving us to produce the best components possible.
		.row
			.col-12.footerAboutUs
				div.dromicon
				p DRÖM Ride | Bike Components Quality Lifestyle
		.row.hidden-md.hidden-lg
			div.icobox
					.row
						.col-sm-3.col-xs-3
							a.nav-link(href='https://twitter.com/dromride', target="_blank").social
								div.ico.twit
						.col-sm-3.col-xs-3
							a.nav-link(href='https://www.facebook.com/dromride', target="_blank").social
								div.ico.fb
						.col-sm-3.col-xs-3
							a.nav-link(href='https://instagram.com/dromride/', target="_blank").social
								div.ico.insta
						.col-sm-3.col-xs-3
							a.nav-link(href='http://dromride.tumblr.com/', target="_blank").social
								div.ico.tumb
		include include/socialfooter