extends layout

block content
    .container.commonPanel
        .row
            .col-md-12.toptitle
                p Essences of the Dröm Chain
        .row#SPACERS
            .col-md-6.semiTransparent.bigpanel.hidden-xs.hidden-sm
                    div.blocFormat.white
                        p Dröm CNC spacer Kit - a perfect balance between weight, 
                        p strength, durability and style.
                    div.blocFormat.white
                        p Our spacers are produced from a solid block of high-quality 
                        p pressed duralumin alloy with the most advanced computer-
                        p controlled machines. Thus, we achieve the highest possible 
                        p precision with accuracy up to a hundredth of a millimeter.
                    div.blocFormat.white
                        p Technical data:
                    div.blocFormat.white
                        p Material: aluminum 2017 T4 
                        p Process: CNC machined from SOLID block,
                        p color anodized, laser engraved
                        p Size: 1 1/8” steerer diameter
                        p Height: 1x20mm, 1x10mm, 2x5mm
                        p Colors: Eclipse black, Minimal grey, King red, Deep blue, 
                        p Rap gold
                        p Weight: 20mm - 8g, 10mm - 4g, 5mm - 2g
                    a.btn.btn-default.drombtn.whtbtn.transpabgbtn.btnCenter.nav-link(href='/dealers#') WHERE TO BUY
            .col-md-6.carouselpanel
                #carousel-components-spacer.carousel.slide
                    .carousel-inner(role="listbox")
                    a.left.carousel-control(href="#carousel-components-spacer", role="button", data-slide="prev")
                        span.carousel-arrow-left
                        span.sr-only Previous
                    a.right.carousel-control(href="#carousel-components-spacer", role="button", data-slide="next")
                        span.carousel-arrow-right
                        span.sr-only Next
                //- .carousellink WATCH REVIEW
                .thumbnails.row-fluid.hidden-xs.hidden-sm
        .row
            .col-md-4.smallpanel.spacerPictTxt.hidden-xs.hidden-sm
            .col-md-8.smallpanel.whiteBG
                div.blocFormat.black.textFormat
                    p Our spacers are designed to fit any standard bicycle fork with steerer diameter of 1 1/8" and can be used for DH, DJ, Enduro, XC, Fixie or a Road Bike rider. During manufacturing, each milligram of unnecessary material is removed to achieve minimum weight without compromising the strength of the final product. Every piece of aluminum waste goes back for recycling and our packaging is 100% recyclable. Made from laser-cut, hand-printed cardboard, after installation you can buy a drink or coffee for your mechanic and use packaging as a coaster.
        .row#AMIRA
            .col-md-6.semiTransparent.bigpanel.hidden-xs.hidden-sm
                    div.blocFormat.white
                        p ARMIRA “Eyes of God” seat clamp 
                        p 34.9 mm / 31.8 mm by Dröm 
                    div.blocFormat.white
                        p A new aluminum seat clamp without a quick release lever.
                        p Designed specifically for RACING and dropper post use. 
                        p Fixes the seatpost quick and easily with just one screw.
                    div.blocFormat.white
                        p Technical data:
                    div.blocFormat.white
                        p Materials: aluminum 6061 T6 / titanium TiAL6V4
                        p Process: CNC machined from a SOLID block,
                        p finished by hand, color anodized, laser engraved
                        p Screw: titanium (#4 allen key)
                        p Sizes: 34.9 mm or 31.8mm
                        p Height: 14.0 mm
                        p Colors: Eclipse black, Minimal grey, King red, Deep blue,
                        p Rap gold
                        p Weight:  11g (avg)
                    a.btn.btn-default.drombtn.whtbtn.transpabgbtn.btnCenter.nav-link(href='/dealers#') WHERE TO BUY
            .col-md-6.carouselpanel
                #carousel-components-clamp.carousel.slide
                    .carousel-inner(role="listbox")
                    a.left.carousel-control(href="#carousel-components-clamp", role="button", data-slide="prev")
                        span.carousel-arrow-left
                        span.sr-only Previous
                    a.right.carousel-control(href="#carousel-components-clamp", role="button", data-slide="next")
                        span.carousel-arrow-right
                        span.sr-only Next
                //- .carousellink WATCH REVIEW
                .thumbnails.row-fluid.hidden-xs.hidden-sm
        .row
            .col-md-4.smallpanel.eyesPictTxt.hidden-xs.hidden-sm
                p "EYES OF GOD"
            .col-md-8.smallpanel.whiteBG
                div.blocFormat.bigger.black.textFormat
                        p Our goal was to create an ultralight seat clamp, without compromising materials, technologies or aesthetics. The end result is both a piece of art and a bike component. Armira "Eyes of God" is engineered specialy for telescopic seatpost and carbon frames. The design is inspired by a natural phenomenon, the “Prohodna” cave close to Karlukovo village. We recommend Armira to be used for Pro XC, Trail, Enduro, Cyclocross, Road bike and Fixie. If you're aggressive DH rider check our indestructible model seat clamp.
                            | 
                            a.nav-link(href='#DHclamp') HERE
        .row.hidden-xs.hidden-sm
            .col-md-12.banner
                div.blocFormat.bigger.white
                    p O.E.M. components
                    div.arrow
        .row#DHclamp
            .col-md-6.semiTransparent.bigpanel.hidden-xs.hidden-sm
                    div.blocFormat.white
                        p Dröm DH seat clamp - indestructible, with two options
                        p QR or Ti bolt
                    div.blocFormat.white
                        p This product is made on the most advanced 5 axis 
                        p milling machines. Produced through a fully automated
                        p process with no human intervention, our DH seat clamp is
                        p the product of uncompromisingly precise CAD-CAM
                        p engineering. Available O.E.M. only!
                    div.blocFormat.white
                        p Technical data:
                        p Materials: aluminum 6061 T6 / titanium TiAL6V4
                        p Process: CNC machined from SOLID block,
                        p color anodized, laser engraved
                        p Size: 34.9 mm
                        p Height: 17 mm
                        p Colors: Eclipse black, Minimal grey, King red, Deep blue, 
                        p Rap gold
                        p Weight: 22g (avg assembled weight)
                    a.btn.btn-default.drombtn.whtbtn.transpabgbtn.btnCenter.nav-link(href='/aboutus#') CONTACT US
            .col-md-6.carouselpanel
                #carousel-components-dhclamp.carousel.slide
                    .carousel-inner(role="listbox")
                    a.left.carousel-control(href="#carousel-components-dhclamp", role="button", data-slide="prev")
                        span.carousel-arrow-left
                        span.sr-only Previous
                    a.right.carousel-control(href="#carousel-components-dhclamp", role="button", data-slide="next")
                        span.carousel-arrow-right
                        span.sr-only Next
                //- .carousellink WATCH REVIEW
                .thumbnails.row-fluid.hidden-xs.hidden-sm
        .row
            .col-md-4.smallpanel.clampPictTxt.hidden-xs.hidden-sm
            .col-md-8.smallpanel.whiteBG.lessPadTop
                div.blocFormat.bigger.black.textFormat
                        p This seat clamp is all about aggressive riding. The body is made from light, strong 6061 T6 aluminum and is a 5 axis engineering masterpiece. With a titanium bolt and CNC machined nut, made from the hardest duraluminium series 7075 T6, you can be sure this clamp will not surrender easily. The Dröm DH clamp is suitable for any kind of riding and can be used on any type of bike. It is available with or without a QR lever and is available in five colors with laser engraved leaf graphics. At Dröm we are always mindful of style and the Dröm DH clamp has been gorgeous on every bike we tested it on. If you are looking for something ultra light click 
                            | 
                            a.nav-link(href='#AMIRA') HERE
        .row#PITADORA
            .col-md-6.semiTransparent.bigpanel.hidden-xs.hidden-sm
                    div.blocFormat.white
                        p PITADORA - Enduro stem 31.8mm by Dröm
                    div.blocFormat.white
                        p For those seeking the aggressive riding position that a short
                        p stem offers, the 31.8 delivers with it’s compact geometry,
                        p strength and lightness.
                    div.blocFormat.white
                        p Technical data:
                        p Materials: aluminum 6082 T6 / titanium TiAL6V4
                        p Process: CNC machined from SOLID block,
                        p color anodized, laser engraved
                        p Screw: titanium (allen key #4)
                        p Sizes: 35mm offset, 10degree rise
                        p Bar diameter: 31.8mm
                        p Steer tube diameter: 1 1/8
                        p Stack height: 29mm
                        p Custom Color Combinations (C.C.C.): Eclipse black, 
                        p Minimal grey, King red, Deep blue, Rap gold
                        p Weight: about 120g
                    a.btn.btn-default.drombtn.whtbtn.transpabgbtn.btnCenter.nav-link(href='/aboutus#') CONTACT US
            .col-md-6.carouselpanel
                #carousel-components-stem.carousel.slide
                    .carousel-inner(role="listbox")
                    a.left.carousel-control(href="#carousel-components-stem", role="button", data-slide="prev")
                        span.carousel-arrow-left
                        span.sr-only Previous
                    a.right.carousel-control(href="#carousel-components-stem", role="button", data-slide="next")
                        span.carousel-arrow-right
                        span.sr-only Next
                //- .carousellink WATCH REVIEW
                .thumbnails.row-fluid.hidden-xs.hidden-sm
        .row
            .col-md-4.smallpanel.bikestemPictTxt.hidden-xs.hidden-sm
            .col-md-8.smallpanel.whiteBG
                div.blocFormat.bigger.black.textFormat
                        p The name PITADORA comes from Greek: πανδωρα - "endowed with  everything.”  Pitadora has a minimal exterior and is machined internally to save weight.  A solid, dual body design provides strength, stiffness and space for graphics inspired by forest leafs and mountains. The upper piece is matte finished, while the lower is polished. Custom Color Combination means you can choose from five colors and combine them to perfectly fit your bike. All six bolts are titanium. Pitadora offers the stability of a wide DH stem in a steerer tube mounting enduro package.
        .row#PITADORA35.hidden-xs.hidden-sm
            .col-md-6.semiTransparent.bigpanel
                    div.blocFormat.white
                        p PITADORA 35 - Enduro stem 35mm by Dröm
                    div.blocFormat.white
                        p Our Dual Body design combines accomodation for DH 
                        p diameter & width handlebars with Enduro lightness,
                        p delivering ultimate aggressive performance.
                    div.blocFormat.white
                        p Technical data:
                        p Materials: aluminum 6082 T6 / titanium TiAL6V4
                        p Process: CNC machined from SOLID block,
                        p color anodized, laser engraved
                        p Screw: titanium (allen key #4)
                        p Sizes: 45mm offset, 2degree rise
                        p Bar diameter: 35mm
                        p Steer tube diameter: 1 1/8
                        p Stack height: 29mm
                        p Custom Color Combinations (C.C.C.): Eclipse black, 
                        p Minimal grey, King red, Deep blue, Rap gold
                        p Weight: about 140g
                    a.btn.btn-default.drombtn.whtbtn.transpabgbtn.btnCenter.nav-link(href='/aboutus#') CONTACT US
            .col-md-6.carouselpanel
                #carousel-components-stem35.carousel.slide
                    .carousel-inner(role="listbox")
                    a.left.carousel-control(href="#carousel-components-stem35", role="button", data-slide="prev")
                        span.carousel-arrow-left
                        span.sr-only Previous
                    a.right.carousel-control(href="#carousel-components-stem35", role="button", data-slide="next")
                        span.carousel-arrow-right
                        span.sr-only Next
                //- .carousellink WATCH REVIEW
                .thumbnails.row-fluid
        .row.hidden-xs.hidden-sm
            .col-md-12.banner
                div.blocFormat.bigger.white
                    a.nav-link(href='/lifestyle#') Continue to Lifestyle
                    div.arrow