extends layout

block content
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBo9mkfJzSuC2s2XCBs2TKyojn_SJW7rpU")
	script(type='text/javascript').
		function initialize() {
			var mapOptions = {
				center: { lat: 42.677258, lng: 23.332899},
				scrollwheel:false,
				zoom: 16
			};
			var styles = [
				  {
				    featureType: "all",
				    stylers: [
				      { saturation: -100 }
				    ]
				  }
				  //- ,{
				  //-   featureType: "road.arterial",
				  //-   elementType: "geometry",
				  //-   stylers: [
				  //-     { hue: "#00ffee" },
				  //-     { saturation: 50 }
				  //-   ]
				  //- },{
				  //-   featureType: "poi.business",
				  //-   elementType: "labels",
				  //-   stylers: [
				  //-     { visibility: "off" }
				  //-   ]
				  //- }
				];
			var styledMap = new google.maps.StyledMapType(styles,{name: "Styled Map"});
			var map = new google.maps.Map(document.getElementById('map-dealer'),
			mapOptions);
			map.mapTypes.set('map_style', styledMap);
			map.setMapTypeId('map_style');
			//- var bikeLayer = new google.maps.BicyclingLayer();
			//- bikeLayer.setMap(map);
			var marker = new google.maps.Marker({
			    position: { lat: 42.677258, lng: 23.332899},
			    map: map,
			    icon: "/images/dealers/pin.svg"
			});
		}
		google.maps.event.addDomListener(window, 'load', initialize);
	.container.commonPanel
		.row
			.col-md-12
				div#map-dealer
		.row
			.col-md-12.bannerdealer
				div.logodealers
		.row.maskdealer
			.col-md-4
				div.dealerbox
					div.dealerstitle
						p Sportcom
					div.dealertext
						p Lozonets
						p Hristo Smirnenski 74A
						p Sofia 1164, Bulgaria
			.col-md-4
			.col-md-4
				div.dealerbox.rightbox
					div.dealerstel
						p +359 886 722615
					div.dealersweb
						p www.industrial-bg.com		
		.row.maskdealer
			div.newdealerboxtop
					p Become an authorized Dröm reseller.
			div.newdealerboxbottom
				p Our goal to create a solid network of dealers world wide can only happens with the right partners. If you would like to get involved we invite you to contact us for more information.
				a.btn.btn-default.drombtn.redbtn.transpabgbtn.floatbtn.nav-link(href='mailto:mario@dromride.com') START NOW
		.row.complexFooter
			.row
				.col-md-3.sickabox.largecol
					div.newsletter
						p NEWSLETTER&nbsp;
							span.goldbox.box
								| BOX
				.col-md-3.sickabox
					div
						p SHARE&nbsp;
							span.goldbox.withus
								| WITH US
				.col-md-3.sickabox
					div
						p HOW&nbsp;
							span.goldbox.wedoit
								| WE DO IT
				.col-md-3.sickabox
					div
						p WHO&nbsp;
							span.goldbox.weare
								| WE ARE
			.row
				.col-md-2.futurabox.largecol
					form(action='/signup',method='post').signupbox
						div(data-role='fieldcontain')
							fieldset(data-role='controlgroup')
								input(id='email',type='text',value='',placeholder='EMAIL SIGN UP',name='email').emailfieldbox
								span(data-role='fieldcontain')
									input(type='submit',value='GO',data-transition='fade', data-theme='c').gobutton  
				.col-md-2.futurabox.iconbox
					a.nav-link(href='https://twitter.com/dromride')
						div.ico.twit.topleft
					a.nav-link(href='https://www.facebook.com/dromride')
						div.ico.fb.topright
					a.nav-link(href='https://instagram.com/dromride/')
						div.ico.insta.bottomleft
					a.nav-link(href='http://dromride.tumblr.com/')
						div.ico.tumb.bottomright
				.col-md-2.futurabox
					p CONTACT US
					p RIDERS SERVICE
					p WARRANTY
					p PRIVACY POLICY
					p RETURN POLICY
				.col-md-2.futurabox
					p DRÖM
					p 113 st,
					p Dragalevtzi district,
					p Municipality of Vitosha
					p Sofia, Bulgaria