extends layout

block content
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBo9mkfJzSuC2s2XCBs2TKyojn_SJW7rpU")
	script(type='text/javascript').
		function initialize() {
			var mapOptions = {
				center: { lat: 42.677258, lng: 23.332899},
				scrollwheel:false,
				zoom: 16,
				mapTypeControl: false
			};
			var styles = [
				  {
				    featureType: "all",
				    stylers: [
				      { saturation: -100 }
				    ]
				  }
				  //- ,{
				  //-   featureType: "road.arterial",
				  //-   elementType: "geometry",
				  //-   stylers: [
				  //-     { hue: "#00ffee" },
				  //-     { saturation: 50 }
				  //-   ]
				  //- },{
				  //-   featureType: "poi.business",
				  //-   elementType: "labels",
				  //-   stylers: [
				  //-     { visibility: "off" }
				  //-   ]
				  //- }
				];
			var styledMap = new google.maps.StyledMapType(styles,{name: "Styled Map"});
			var map = new google.maps.Map(document.getElementById('map-dealer'),
			mapOptions);
			map.mapTypes.set('map_style', styledMap);
			map.setMapTypeId('map_style');
			//- var bikeLayer = new google.maps.BicyclingLayer();
			//- bikeLayer.setMap(map);
			var marker = new google.maps.Marker({
			    position: { lat: 42.677258, lng: 23.332899},
			    map: map,
			    icon: "/images/dealers/pin.svg"
			});
		}
		google.maps.event.addDomListener(window, 'load', initialize);
	.container.commonPanel
		.row
			.col-md-12
				div#map-dealer
		.row
			.col-md-12.bannerdealer
				div.logodealers
		.row.maskdealer
			.col-xs-4.col-sm-4.col-md-4
				div.dealerbox
					div.dealerstitle
						p Sportcom
					div.dealertext
						p Lozenets
						p Hristo Smirnenski 74A
						p Sofia 1164, Bulgaria
			.col-xs-2.col-sm-2.col-md-4
			.col-xs-4.col-sm-4.col-md-4
				div.dealerbox.rightbox
					div.dealerstel
						p +359 886 722615
					div.dealersweb
						a(href='http://www.industrial-bg.com', target="_blank") www.industrial-bg.com		
		.row.maskdealer
			div.newdealerboxtop
					p Become an authorized Dröm reseller.
			div.newdealerboxbottom
				.row
					.col-xs-11.col-sm-11.col-md-11
						p Our goal to create a solid network of dealers world wide can only happens with the right partners. If you would like to get involved we invite you to contact us for more information.
					.col-xs-1.col-sm-1.col-md-1
						a.btn.btn-default.drombtn.redbtn.transpabgbtn.floatbtn(data-toggle="modal", href='#contactModal') START NOW
		.row.hidden-md.hidden-lg
			div.icobox
					.row
						.col-sm-3.col-xs-3
							a.nav-link(href='https://twitter.com/dromride', target="_blank").social
								div.ico.twit
						.col-sm-3.col-xs-3
							a.nav-link(href='https://www.facebook.com/dromride', target="_blank").social
								div.ico.fb
						.col-sm-3.col-xs-3
							a.nav-link(href='https://instagram.com/dromride/', target="_blank").social
								div.ico.insta
						.col-sm-3.col-xs-3
							a.nav-link(href='http://dromride.tumblr.com/', target="_blank").social
								div.ico.tumb
		include include/socialfooter