extends layout

block content
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBo9mkfJzSuC2s2XCBs2TKyojn_SJW7rpU")
	script(type='text/javascript').
		function initialize() {
			var mapOptions = {
				center: { lat: 42.677258, lng: 23.332899},
				zoom: 17
			};
			var styles = [
				  {
				    featureType: "all",
				    stylers: [
				      { saturation: -100 }
				    ]
				  }
				  //- ,{
				  //-   featureType: "road.arterial",
				  //-   elementType: "geometry",
				  //-   stylers: [
				  //-     { hue: "#00ffee" },
				  //-     { saturation: 50 }
				  //-   ]
				  //- },{
				  //-   featureType: "poi.business",
				  //-   elementType: "labels",
				  //-   stylers: [
				  //-     { visibility: "off" }
				  //-   ]
				  //- }
				];
			var styledMap = new google.maps.StyledMapType(styles,{name: "Styled Map"});
			var map = new google.maps.Map(document.getElementById('map-dealer'),
			mapOptions);
			map.mapTypes.set('map_style', styledMap);
			map.setMapTypeId('map_style');
			var bikeLayer = new google.maps.BicyclingLayer();
			bikeLayer.setMap(map);
			var marker = new google.maps.Marker({
			    position: { lat: 42.677258, lng: 23.332899},
			    map: map,
			    icon: "/images/dealers/pin.svg"
			});
		}
		google.maps.event.addDomListener(window, 'load', initialize);
	.container.commonPanel
		.row
			.col-md-12.bgmap
		.row
			.col-md-12.bannerdealer
				div.logodealers
		.row.dealerheaders.maskdealer
			.col-md-6
				p Address / Country / Phone
			.col-md-6
				p Map
		.row.maskdealer
			.col-md-4
				div.dealerbox
					div.dealerstitle
						p Sportcom
					div.dealertext
						p Lozonets, Hristo Smirnenski 74A
						p Sofia 1164
						p Bulgaria
					div.dealerstel
						p +359 886 722615	
				div.dealerbox
					div.dealerstitle
						p Sportcom
					div.dealertext
						p Lozonets, Hristo Smirnenski 74A
						p Sofia 1164
						p Bulgaria
					div.dealerstel
						p +359 886 722615	
			.col-md-8
				//- div.maskmap
				//- 	div.maskmap2
				div#map-dealer
		.row.maskdealer
			div.newdealerbox
				div.newdealertitle
					p Become an authorized Drom dealer
				div.newdealertext
					p Our goal to create a solid network of dealers worldwide can only happens with the right partners. If you would like to get involve we invite you to contact us for more information.
		.row
			.col-md-12
			div.complexFooter
				.row
					.col-md-3.sickabox.largecol
						div.newsletter
							p NEWSLETTER&nbsp;
						div.goldbox.box
							p BOX
					.col-md-3.sickabox
						div.share
							p SHARE&nbsp;
						div.goldbox.withus
							p WITH US
					.col-md-3.sickabox
						div.how
							p HOW&nbsp;
						div.goldbox.wedoit
							p WE DO IT
					.col-md-3.sickabox
						div.who
							p WHO&nbsp;
						div.goldbox.weare
							p WE ARE
				.row
					.col-md-2.futurabox.largecol
						form(action='/signup',method='post').signupbox
							div(data-role='fieldcontain')
								fieldset(data-role='controlgroup')
									input(id='email',type='text',value='',placeholder='EMAIL SIGN UP',name='email').emailfieldbox
							div(data-role='fieldcontain')
								input(type='submit',value='Go',data-transition='fade', data-theme='c').gobutton  
					.col-md-2.futurabox.iconbox
						div.ico.twit.topleft
						div.ico.fb.topright
						div.ico.insta.bottomleft
						div.ico.tumb.bottomright
					.col-md-2.futurabox
						p CONTACT US
						p RIDERS SERVICE
						p WARRANTY
						p PRIVACY POLICY
						p RETURN POLICY
					.col-md-2.futurabox
						p DROM
						p 113 st,
						p Dragalevtzi district,
						p Municipality of Vitosha
						p Sofia, Bulgaria