extends layout

block content
	.container.commonPanel
		.row
			.col-md-12.hidden-sm.hidden-xs.main
				div.floatMainText.small.rider
					h2 RIDERS company
				div.floatMainText.small.envi
					h2 Environmentally friendly
				div.floatMainText.small.ultimate
					h1 ULTIMATE BIKE COMPONENTS
				div.floatMainText.small.cnc
					p CNC machined from SOLID bloc Al 
				div.floatMainText.small.nature
					p inspired by NATURE
				div.floatMainText.small.titanium
					h2 TITANIUM hardward only
				div.floatMainText.ridehard
					p READY FOR THE RIDE
				div.floatMainText.arrowBow#ARMIRA
					a(href='#ARMIRA')
						div.arrow
		.row
			.col-md-4.sub.hidden-sm.hidden-xs.whiteBG.rowSVG
				div.armira.rowSVG
			.col-xs-6.col-sm-6.col-md-4.sub.whiteBG.dotblack.mobiletopborder
				div.rowWithBorder.black
					div.floatSubText.mobileTitle.amira.hidden-md.hidden-lg
					div.floatSubText.ulw
						a(href='#light-weight-bike-component') Ultra light weight
					div.floatSubText.race
						a(href='#racing-seatclamp') Designed for Racing
					div.floatSubText.ano
						p Color anodised
					div.floatSubText.cnc
						p CNC from solid block
					div.floatSubText.ti
						a(href='#titanium-hardware') [Ti] hardware
					div.floatSubText.btnlearn.hidden-xs.hidden-sm
						a.btn.btn-default.drombtn.redbtn.nav-link(href='/components#AMIRA') LEARN MORE
			.col-xs-6.col-sm-6.col-md-4.sub.armiraPict
				a(href='/components#AMIRA')
					div(style='width:100%; height:100%')
		.row
			.col-xs-6.col-sm-6.col-md-4.sub.pitagoraPict
				a(href='/components#PITADORA')
					div(style='width:100%; height:100%')
			.col-md-4.sub.semiTransparent.rowSVG.hidden-sm.hidden-xs
				div.pitagora.rowSVG
			.col-xs-6.col-sm-6.col-md-4.sub.semiTransparent
				div.rowWithBorder.white.dotwhite
					div.floatSubText.mobileTitle.pitadora.hidden-md.hidden-lg
					div.floatSubText.wh.ulw
						a(href='#downhill-enduro-bike') DH wide, ENDURO light
					div.floatSubText.wh.race
						a(href='#competition-stem') C.C.C. options
					div.floatSubText.ano
						p DUAL BODY design
					div.floatSubText.cnc
						p Horizontal assembly
					div.floatSubText.ti
						p [Ti] hardware
					div.floatSubText.btnlearn.hidden-xs.hidden-sm
						a.btn.btn-default.drombtn.whtbtn.nav-link(href='/components#PITADORA') LEARN MORE
		.row
			.col-md-4.sub.white.whiteBG.rowSVG.hidden-sm.hidden-xs
				div.black.dh.rowSVG.whiteBG
			.col-xs-6.col-sm-6.col-md-4.sub.dotblack
				div.rowWithBorder.black
					div.floatSubText.mobileTitle.dh.hidden-md.hidden-lg
					div.floatSubText.ulw
						p Strong
					div.floatSubText.race
						a(href='#DH-seatclamp') Aggressive DH & Enduro
					div.floatSubText.ano
						a(href='#anodised color') Anodised 5 colors
					div.floatSubText.cnc
						p CNC precision
					div.floatSubText.ti
						p QR or [Ti] bolt
					div.floatSubText.btnlearn.hidden-xs.hidden-sm
						a.btn.btn-default.drombtn.redbtn.nav-link(href='/components#DHclamp') LEARN MORE
			.col-xs-6.col-sm-6.col-md-4.sub.dhPict
				a(href='/components#DHclamp')
					div(style='width:100%; height:100%')
		.row
			.col-xs-6.col-sm-6.col-md-4.sub.spacerPict
				a(href='/components#SPACERS')
					div(style='width:100%; height:100%')
			.col-md-4.sub.semiTransparent.rowSVG.hidden-sm.hidden-xs
				div.spacer.rowSVG
			.col-xs-6.col-sm-6.col-md-4.sub.semiTransparent
				div.rowWithBorder.white.dotwhite
					div.floatSubText.mobileTitle.spacers.hidden-md.hidden-lg
					div.floatSubText.ulw
						p Universal use 1 1/8
					div.floatSubText.race
						p 100% CNC
					div.floatSubText.wh.ano
						a(href='#ultra-light-spacer') Light & precise
					div.floatSubText.cnc
						p 20 / 10 / 5 mm
					div.floatSubText.ti
						p ECO packaging
					div.floatSubText.btnlearn.hidden-xs.hidden-sm
						a.btn.btn-default.drombtn.whtbtn.nav-link(href='/components#SPACERS') LEARN MORE
		.row
			.col-md-8.sub.whiteBG.hidden-sm.hidden-xs
				div.ringDiv.ringSize
					p Precision takes time. We are working hard to produce hight quality products. Soon Dröm will introduce more compontents for Fixies, Road, XC, Dj, Enduro & DH.
				div.ringDiv.ringSize
					p "If you climb in the saddle be ready to ride."
			.col-md-4.sub.chainringPict.hidden-sm.hidden-xs
		.row.hidden-sm.hidden-xs
			.col-md-12.sub.followDiv.floatSubText
				div.followText
					h2
						| If you share our passion for biking, the mountain
						br
						| lifestyle and quality products, you can get 
						br
						| a closer look inside the Dröm core.
				div.followus
						p FOLLOW US
				div.icobox
					.row
						.col-md-3
							a.nav-link(href='https://twitter.com/dromride', target="_blank").social
								div.ico.twit
						.col-md-3
							a.nav-link(href='https://www.facebook.com/dromride', target="_blank").social
								div.ico.fb
						.col-md-3
							a.nav-link(href='https://instagram.com/dromride/', target="_blank").social
								div.ico.insta
						.col-md-3
							a.nav-link(href='http://dromride.tumblr.com/', target="_blank").social
								div.ico.tumb
		.row.hidden-md.hidden-lg
			div.icobox
					.row
						.col-sm-3.col-xs-3
							a.nav-link(href='https://twitter.com/dromride', target="_blank").social
								div.ico.twit
						.col-sm-3.col-xs-3
							a.nav-link(href='https://www.facebook.com/dromride', target="_blank").social
								div.ico.fb
						.col-sm-3.col-xs-3
							a.nav-link(href='https://instagram.com/dromride/', target="_blank").social
								div.ico.insta
						.col-sm-3.col-xs-3
							a.nav-link(href='http://dromride.tumblr.com/', target="_blank").social
								div.ico.tumb