extends layout

block content
	.container.commonPanel
		.row
			.col-md-12.hidden-sm.hidden-xs.main
				div.floatMainText.small.rider
					p RIDERS company
				div.floatMainText.small.envi
					p Environmentally friendly
				div.floatMainText.small.ultimate
					p ULTIMATE BIKE COMPONENTS
				div.floatMainText.small.cnc
					p CNC machined from SOLID bloc Al 
				div.floatMainText.small.nature
					p inspired by NATURE
				div.floatMainText.small.titanium
					p TITANIUM hardwarde only
				div.floatMainText.ridehard
					p READY FOR THE RIDE
				div.floatMainText.arrow
		.row
			.col-md-4.sub.hidden-sm.hidden-xs.whiteBG.rowSVG
				div.armira.rowSVG
			.col-md-4.col-sm-6.sub.whiteBG.dotblack
				div.rowWithBorder.black
					div.floatSubText.ulw
						p Ultra light weight
					div.floatSubText.race
						p Designed for Racing
					div.floatSubText.ano
						p Color anodised
					div.floatSubText.cnc
						p CNC from solid block
					div.floatSubText.ti
						p [Ti] hardware
					div.floatSubText.btnlearn
						a.btn.btn-default.drombtn.redbtn.nav-link(href='/components#AMIRA') LEARN MORE
			.col-md-4.col-sm-6.sub.armiraPict
		.row
			.col-md-4.sub.pitagoraPict
			.col-md-4.sub.semiTransparent.rowSVG
				div.pitagora.rowSVG
			.col-md-4.sub.semiTransparent
				div.rowWithBorder.white.dotwhite
					div.floatSubText.ulw
						p DH wide, ENDURO light
					div.floatSubText.race
						p C.C.C. options
					div.floatSubText.ano
						p DUAL BODY design
					div.floatSubText.cnc
						p Horizontal assembly
					div.floatSubText.ti
						p [Ti] hardware
					div.floatSubText.btnlearn
						a.btn.btn-default.drombtn.whtbtn.nav-link(href='/components#PITADORA') LEARN MORE
		.row
			.col-md-4.sub.white.whiteBG.rowSVG
				div.black.dh.rowSVG.whiteBG
			.col-md-4.sub.dotblack
				div.rowWithBorder.black
					div.floatSubText.ulw
						p Strong
					div.floatSubText.race
						p Aggressive DH & Enduro
					div.floatSubText.ano
						p Anodised 5 colors
					div.floatSubText.cnc
						p CNC precision
					div.floatSubText.ti
						p QR or [Ti] bolt
					div.floatSubText.btnlearn
						a.btn.btn-default.drombtn.redbtn.nav-link(href='/components#DHclamp') LEARN MORE
			.col-md-4.sub.dhPict
		.row
			.col-md-4.sub.spacerPict
			.col-md-4.sub.semiTransparent.rowSVG
				div.spacer.rowSVG
			.col-md-4.sub.semiTransparent
				div.rowWithBorder.white.dotwhite
					div.floatSubText.ulw
						p Universal use 1 1/8
					div.floatSubText.race
						p 100% CNC
					div.floatSubText.ano
						p Light & precise
					div.floatSubText.cnc
						p 20 / 10 / 5 mm
					div.floatSubText.ti
						p ECO packaging
					div.floatSubText.btnlearn
						a.btn.btn-default.drombtn.whtbtn.nav-link(href='/components#SPACERS') LEARN MORE
		.row
			.col-md-8.sub.whiteBG
				div.ringDiv.ringSize
					p Precision takes time. We are working hard to produce hight quality products. Soon Dröm will introduce more compontents for Fixies, Road, XC, Dj, Enduro & DH.
				div.ringDiv.ringSize
					p "If you climb in the saddle be ready to ride."
			.col-md-4.sub.chainringPict
		.row
			.col-md-12.sub.followDiv.floatSubText
				div.followText
					p If you share our passion for biking, the mountain 
					p lifestyle and quality products, you can get 
					p a closer look inside the Dröm core.
				div.floatSubText.followus
						p FOLLOW US
				div.icobox
					.row
						.col-md-3
							a.nav-link(href='https://twitter.com/dromride')
								div.ico.twit
						.col-md-3
							a.nav-link(href='https://www.facebook.com/dromride')
								div.ico.fb
						.col-md-3
							a.nav-link(href='https://instagram.com/dromride/')
								div.ico.insta
						.col-md-3
							a.nav-link(href='http://dromride.tumblr.com/')
								div.ico.tumb
