extends layout

block content
	.container.commonPanel
		.row
			.col-md-12.lifestyletoptitle
		.row
			.col-md-4.sub.jrmnPictTxt
			.col-md-4.sub.blackBG
				div.rowWithBorder.gold.centerTextGold
					div.title
						p JRMN x Dröm
					p "Heart of the FOREST"
					p Special edition T-shirt
					p art & bikes
					div.spacebutton
						a.btn.btn-default.drombtn.goldbtn.transpabgbtn.nav-link(href='/dealers') WHERE TO BUY
			.col-md-4.sub.forestPictTxt
		.row
			.col-md-4.sub.freedromPictTxt
			.col-md-4.sub.semiGrayTransparent
				div.ride_wash.rowSVG
			.col-md-4.sub.semiGrayTransparent
				div.rowWithBorder.gold.dotgold
					div.floatSubText.ulw
						p Dröm T-shirt
					div.floatSubText.race
						p 100% cotton
					div.floatSubText.ano
						p Water based print
					div.floatSubText.cnc
						p Designed for riding
					div.floatSubText.ti
						p and building trails
					div.floatSubText.btnlearn
						a.btn.btn-default.drombtn.goldbtn.transpabgbtn.nav-link(href='/dealers') WHERE TO BUY
		.row
			.col-md-4.sub.trackPict
			.col-md-8.sub.circlePict
		.row
			.col-md-8.sub.pumptrackPict
			.col-md-4.sub.wolfPict
		.row
			.col-md-4.sub.onliftPict
			.col-md-4.sub.semiGrayTransparent
				div.logogold.rowSVG.centerTextGold
					p While designing,
					p manufacturing and working
					p on upcoming projects, we
					p always dedicate time to get
					p back on the trails. Our way is
					p to get our hands dirty and
					p provide quality with obsessive
					p attention to detail.
			.col-md-4.sub.workPict
		.row
			.col-md12.followusbox.followusPict
				div.followUsSvg
				div.icobox
					.row
						.col-md-3
							a.nav-link(href='https://twitter.com/dromride', target="_blank").social
								div.ico.twit
						.col-md-3
							a.nav-link(href='https://www.facebook.com/dromride', target="_blank").social
								div.ico.fb
						.col-md-3
							a.nav-link(href='https://instagram.com/dromride/', target="_blank").social
								div.ico.insta
						.col-md-3
							a.nav-link(href='http://dromride.tumblr.com/', target="_blank").social
								div.ico.tumb