.footer
	.container
		.row
			.col-md-4
				div.copyright
					p Dröm #{+new Date().getFullYear()}
			.col-md-4.center
				div.pict
					a.btn.nav-link(href='#') FREE LIFT TO THE TOP
			.col-md-4
					