nav#navbar.navbar.navbar-default.navbar-fixed-top(role='navigation')
    .container.navstyle
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
                span.sr-only Toggle navigation
            a.nav-link.navbar-brand(href='/#')
                img(src="/SVGs/logo.svg")
        .collapse.navbar-collapse.navbar-ex1-collapse
            ul.nav.navbar-right.navbar-nav(style='margin-right: -70px;')
                li.pict.components
                    a.nav-link(href='/components#') COMPONENTS
                li.pict.lifestyle
                    a.nav-link(href='/lifestyle') LIFESTYLE
                li.pict.dealers
                    a.nav-link(href='/dealers') DEALERS
                li.pict.aboutus
                    a.nav-link(href='/aboutus') ABOUT US
