.row.complexFooter
	.row
		.col-md-3.sickabox.largecol
			div.newsletter
				p NEWSLETTER&nbsp;
					span.goldbox.box
						| BOX
		.col-md-3.sickabox
			div
				p SHARE&nbsp;
					span.goldbox.withus
						| WITH US
		.col-md-3.sickabox
			div
				p HOW&nbsp;
					span.goldbox.wedoit
						| WE DO IT
		.col-md-3.sickabox
			div
				p WHO&nbsp;
					span.goldbox.weare
						| WE ARE
	.row
		.col-md-2.futurabox.largecol
			form(action='/signup',method='post').signupbox
				div(data-role='fieldcontain')
					fieldset(data-role='controlgroup')
						input(id='email',type='email',value='',placeholder='EMAIL SIGN UP',name='email', required).emailfieldbox
						span(data-role='fieldcontain')
							input(type='submit',value='GO',data-transition='fade', data-theme='c').gobutton  
		.col-md-2.futurabox.iconbox
			a.nav-link(href='https://twitter.com/dromride', target="_blank")
				div.ico.twit.topleft
			a.nav-link(href='https://www.facebook.com/dromride', target="_blank")
				div.ico.fb.topright
			a.nav-link(href='https://instagram.com/dromride/', target="_blank")
				div.ico.insta.bottomleft
			a.nav-link(href='http://dromride.tumblr.com/', target="_blank")
				div.ico.tumb.bottomright
		.col-md-2.futurabox.modallink
			a(data-toggle="modal", href='#contactModal') CONTACT US
			a(data-toggle="modal", href='#riderModal') RIDERS SERVICE
			a(data-toggle="modal", href='#warrantyModal') WARRANTY
			a(data-toggle="modal", href='#privacyModal') PRIVACY POLICY
			p RETURN POLICY
		.col-md-2.futurabox
			p DRÖM
			p 113 st,
			p Dragalevtzi district,
			p Municipality of Vitosha
			p Sofia, Bulgaria
div.modal(id="contactModal" class="modal fade" tabindex="-1" role="dialog")
	div.modal-dialog
		div.modal-content.contactmodal
			.modal-header
				button(type="button", class="close", data-dismiss="modal")
				p Contact us
			.modal-body
				form(action='/signup',method='post').form-horizontal.sendbox
					div(data-role='fieldcontain')
						fieldset(data-role='controlgroup')
							input(id='name',type='text',value='',placeholder='Name',name='name').smallfieldbox.form-control.center-block
							input(id='email',type='email',value='',placeholder='Email',name='email', required).smallfieldbox.form-control.center-block
							input(id='msg',type='textarea',value='',placeholder='Message',name='msg', required).bigfieldbox.form-control.center-block
							input(type='submit',value='SEND',data-transition='fade', data-theme='c').sendbutton.form-control.center-block
div.modal(id="warrantyModal" class="modal fade" tabindex="-1" role="dialog")
	div.modal-dialog
		div.modal-content.warrantymodal
			.modal-header
				button(type="button", class="close", data-dismiss="modal")
				p Warranty
			.modal-body
				p Dröm warranty covers all manufacturer defects in materials and workmanship for a period of (1) year from the original date of purchase from an authorized Dröm dealer or web reseller. Coverage is valid only with proof of purchase from an authorized Dröm dealer. The product will be repaired, or replaced: If, upon inspection it is found to be defective in materials or workmanship by Dröm. 
				p This warranty does not apply to damage resulting from normal wear and tear, accident, abuse, negligence, impact, repairs or alterations outside of our facility.  The warranty program does not cover scratched on the components or use outside the instructions and specification of warranty policy.
				p If you desire to return product for service or warranty consideration, you will need to email sales@dromride.com in order to get a WRA (Warranty Return Authorization) form, number and shipping address. All products shipped to Dröm without this WRA Number will be refused.
				p Please be sure to include in the package the correctly filled WRA form, which will be emailed back to you.
				p The customer returning product for consideration is responsible for all freight charges to Dröm.  If the product is deemed a warranty issue Dröm will pay the freight charges to return the product to you by normal ground transportation.
div.modal(id="privacyModal" class="modal fade" tabindex="-1" role="dialog")
	div.modal-dialog
		div.modal-content.privacymodal
			.modal-content
				.modal-header
					button(type="button", class="close", data-dismiss="modal")
					p Privacy policy
				.modal-body
					p Any of the information we collect from you may be used in one of the following ways:
					ul
						li To personalize your experience (your information helps us to better respond to your individual needs)
						li To improve the Web Site (we continually strive to improve the Web Site offerings based on the information and feedback we receive from you)
						li To improve customer service (your information helps us to more effectively respond to your customer service requests and support needs)
						li To process transactions Your information, whether public or private, will not be sold, exchanged, transferred, or given to any other company for any reason whatsoever, without your consent, other than for the express purpose of delivering the purchased product or service requested.
						li To send periodic emails The email address you provide for order processing, will only be used to send you information and updates pertaining to your order.
						li If you decide to opt-in to our mailing list, you will receive emails that may include company news, updates, related product or service information, etc.
						li Note: If at any time you would like to unsubscribe from receiving future emails, we include detailed unsubscribe instructions at the bottom of each email.
div.modal(id="riderModal" class="modal fade" tabindex="-1" role="dialog")
	div.modal-dialog
		div.modal-content.ridermodal
			.modal-header
				button(type="button", class="close", data-dismiss="modal")
				p Riders service
			.modal-body
				p todo