.bgmap {
	height: 168px;
	.at2x("/images/dealers/BG_map.png", 960px, 168px);
}
.bannerdealer {
	height: 80px;
	background-color: @navFontColor;
}
.logodealers {
	height: 120px;
	position: relative;
	top: -45px;
	left: 620px;
	background: url(/images/dealers/dealers.svg) no-repeat scroll 0px 0px transparent;
}
.carddealers {
	height: 440px;
	background-color: RGBA(51,51,51,.7);
}